<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>JuristiQ - Web Application</title>
  <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
<header>
  <nav>
    <ul class="navbar">
      <li><a th:href="@{/JuristiQ/home}">Početna</a></li>
      <li class="dropdown">
        <a href="#">Predmeti</a>
        <ul class="dropdown-menu">
          <li><a th:href="@{/JuristiQ/litigation-cases}">Popis sudskih predmeta</a></li>
          <li><a th:href="@{/non-litigation-cases}">Popis izvansudskih predmeta</a></li>

          <li><a th:href="@{/JuristiQ/litigation-cases/add}">Dodaj sudski predmet</a></li>
          <li><a th:href="@{/non-litigation-cases/add}">Dodaj izvansudski predmet</a></li>


        </ul>
      </li>
      <li class="dropdown">
        <a href="#">Stranke</a>
        <ul class="dropdown-menu">
          <li><a th:href="@{/JuristiQ/clients}">Popis stranaka</a></li>
          <li><a th:href="@{/JuristiQ/clients/add}">Dodaj stranku</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#">Pravne organizacije</a>
        <ul class="dropdown-menu">
          <li><a th:href="@{/JuristiQ/lawfirms}">Popis pravnih organizacija</a></li>
          <li><a th:href="@{/JuristiQ/lawfirms/add}">Dodaj pravnu organizaciju</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#">Pravnici/odvjetnici</a>
        <ul class="dropdown-menu">
          <li><a th:href="@{/JuristiQ/lawyers}">Popis pravnika/odvjetnika</a></li>
          <li><a th:href="@{/JuristiQ/lawyers/add}">Dodaj pravnika/odvjetnika</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#">Kalkulator troška</a>
        <ul class="dropdown-menu">
          <li><a th:href="@{/JuristiQ/cost-calculator/litigation}">Sudski troškovi</a></li>
          <li><a th:href="@{/JuristiQ/cost-calculator/non-litigation}">Izvansudski troškovi</a></li>
        </ul>
      </li>

      <li><a th:href="@{/JuristiQ/contact}">Kontakt</a></li>
      <li><a th:href="@{/JuristiQ/login}">Prijava</a></li>
    </ul>
  </nav>
</header>

<!-- Fragment content placeholder -->
<div th:replace="~{::content}">
  <!-- Placeholder for specific page content -->
</div>

<footer>
  <p>© 2024 JuristiQ. Sva prava pridržana.</p>
</footer>
</body>
</html>


