<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorate="~{layout/base}">
<head>
    <title>Detalji pravne organizacije</title>
</head>
<div th:fragment="content" class="content-area">
    <div class="details-container">
        <h1 th:text="${lawFirm.name}"></h1>
        <p><strong>OIB:</strong> <span th:text="${lawFirm.oib}"></span></p>
        <p><strong>Adresa:</strong> <span th:text="${lawFirm.address}"></span></p>
        <p><strong>Email:</strong> <span th:text="${lawFirm.email}"></span></p>
        <p><strong>Telefon:</strong> <span th:text="${lawFirm.phone}"></span></p>

        <h2>Pravnici/odvjetnici</h2>
        <table>
            <thead>
            <tr>
                <th>Ime</th>
                <th>Prezime</th>
                <th>Email</th>
                <th>Telefon</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="lawyer : ${lawFirm.lawyers}">
                <td th:text="${lawyer.name}"></td>
                <td th:text="${lawyer.surname}"></td>
                <td th:text="${lawyer.email}"></td>
                <td th:text="${lawyer.phone}"></td>
            </tr>
            </tbody>
        </table>
        <a th:href="@{/JuristiQ/lawfirms}" class="btn-primary">Nazad na popis</a>
    </div>
</div>
</html>
