<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/base}">
<head>
    <title>Popis izvansudskih predmeta</title>
</head>
<div th:fragment="content" class="table-container">
    <h1>Popis izvansudskih predmeta</h1>

    <!-- Search Form -->
    <form th:action="@{/JuristiQ/non-litigation-cases}" method="get" class="search-form">
        <input type="text" name="search" placeholder="Pretraži izvansudske predmete..." th:value="${search}" class="search-input">
        <button type="submit" class="btn btn-search">Pretraži</button>
    </form>

    <!-- Add Button -->
    <a th:href="@{/JuristiQ/non-litigation-cases/add}" class="btn-primary">Dodaj novi predmet</a>

    <!-- Table -->
    <table>
        <thead>
        <tr>
            <th>Interni broj</th>
            <th>Vrsta predmeta</th>
            <th>Vrijednost spora</th>
            <th>Akcije</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="case : ${nonLitigationCases}">
            <td th:text="${case.internalReferenceNumber}"></td>
            <td th:text="${case.caseType.displayName}"></td>
            <td th:text="${#numbers.formatDecimal(case.vps, 2, 2) + ' EUR'}"></td>
            <td>
                <a th:href="@{/JuristiQ/non-litigation-cases/edit/{id}(id=${case.id})}" class="btn btn-edit">Uredi</a>
                <a th:href="@{/JuristiQ/non-litigation-cases/details/{id}(id=${case.id})}" class="btn btn-details">Detalji</a>
                <a th:href="@{/JuristiQ/non-litigation-cases/{id}/unarchive(id=${case.id})}" class="btn btn-edit">Vrati iz arhive</a>
                <a th:href="@{/JuristiQ/non-litigation-cases/delete/{id}(id=${case.id})}"
                   class="btn btn-delete"
                   onclick="return confirm('Jeste li sigurni da želite obrisati ovaj predmet?');">Obriši</a>

            </td>
        </tr>
        </tbody>
    </table>
</div>
</html>
