<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorate="~{layout/base}">
<head>
    <title>Uredi sudski predmet</title>
</head>
<div th:fragment="content" class="form-container">
    <h1>Uredi sudski predmet</h1>
    <form th:action="@{/JuristiQ/litigation-cases/edit/{id}(id=${litigationCase.id})}" method="post">

        <!-- Broj predmeta -->
        <label for="designation">Broj predmeta:</label>
        <input type="text" id="designation" name="designation" th:value="${litigationCase.designation}" required>

        <label for="caseType">Tip predmeta:</label>
        <select id="caseType" name="caseType">
            <option th:each="type : ${T(hr.algebra.juristiq.enums.LitigationCaseType).values()}"
                    th:value="${type.name()}"
                    th:text="${type.displayName}"></option>
        </select>

        <!-- Sud -->
        <label for="court">Sud:</label>
        <select id="court" name="court">
            <option th:each="court : ${courts}" th:value="${court}" th:text="${court.displayName}"></option>
        </select>

        <!-- Sudac -->
        <label for="judge">Sudac:</label>
        <input type="text" id="judge" name="judge" th:value="${litigationCase.judge}">

        <!-- Vrijednost spora -->
        <label for="vps">Vrijednost spora:</label>
        <input type="number" id="vps" name="vps" th:value="${litigationCase.vps}">

        <!-- Zastupane strane -->
        <label for="representedParties">Zastupane strane:</label>
        <select id="representedParties" name="representedParties" multiple>
            <option th:each="client : ${clients}" th:value="${client.id}"
                    th:text="${client.name + ' ' + client.surname}"
                    th:selected="${litigationCase.representedParties.contains(client)}"></option>
        </select>

        <!-- Suprotne strane -->
        <label for="opposingParties">Suprotne strane:</label>
        <select id="opposingParties" name="opposingParties" multiple>
            <option th:each="client : ${clients}" th:value="${client.id}"
                    th:text="${client.name + ' ' + client.surname}"
                    th:selected="${litigationCase.opposingParties.contains(client)}"></option>
        </select>

        <!-- Spremi -->
        <button type="submit" class="btn-primary">Spremi</button>
        <a th:href="@{/JuristiQ/litigation-cases}" class="btn-primary">Nazad na popis</a>
    </form>
</div>
</html>

