<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorate="~{layout/base}">
<head>
    <title>Home</title>
</head>
<body>
<div th:fragment="content" class="welcome-container">
    <h1 class="welcome-title">Dobrodošli, <span th:text="${lawyer.name}"></span>!</h1>
    <section class="welcome-text">
        <p>
            JuristiQ je sustav dizajniran za efikasno vođenje pravnih predmeta i aktivnosti.
            Naš cilj je omogućiti odvjetnicima i pravnim timovima da jednostavno upravljaju sudskim i izvansudskim slučajevima,
            prate rokove, vode detaljne evidencije i održavaju transparentnost prema klijentima.
        </p>
        <p>
            Prijavljeni korisnici mogu pristupiti svojim slučajevima, pravnim zadacima i arhivima putem navigacijskog izbornika.
        </p>
    </section>

    <div class="welcome-buttons">
        <a th:href="@{/JuristiQ/litigation-cases/my-cases}" class="btn-primary">Moji sudski predmeti</a>
        <a th:href="@{/JuristiQ/non-litigation-cases/my-cases-non-litigation}" class="btn-primary">Moji izvansudski predmeti</a>
        <a th:href="@{/JuristiQ/clients/my-clients}" class="btn-primary">Moji klijenti</a>

    </div>
</div>
</body>
</html>

