<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Dobrodošli</title>

  <link rel="stylesheet" href="/css/styles.css">

</head>
<body>
<div class="welcome-container">
  <h1 class="welcome-title">Dobrodošli u JuristiQ</h1>
  <p class="welcome-text">Pristupite aplikaciji prijavom ili registracijom.</p>
  <div class="welcome-buttons">
    <a href="/JuristiQ/auth/login" class="btn-primary">Prijava</a>
    <a href="/JuristiQ/auth/register-lawyer" class="btn-primary">Registracija odvjetnika</a>
    <a href="/JuristiQ/auth/register-law-firm" class="btn-primary">Registracija odvjetničkog ureda</a>
  </div>
  <p class="registration-note">
    *Prvo je potrebno registrirati odvjetnički ured. Registracija odvjetnika omogućena je samo nakon registracije ureda.
  </p>

</div>
</body>
</html>


